/* variables declared here - these are the colors or our pages,
as welll as the font stacks and sizes */

:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

/* border box model */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1, h2, h2 {
    margin: 0;
}

a {
    color: var(--hotmag);
}

a:hover {
    text-decoration: none;
    color: var(--hotmag);
}


/* inreo styles */

#intro {
    padding-bottom: 10rem;
}

#intro {
    font-size: 1rem;
    line-height: 1.5;
}

.name {
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}


.contacts  {
    /* width: 400px; */
    background-color: var(--plum);
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
}

.wrap {
    text-wrap: break-word;
}